:root[data-theme='deathspace'] {
  --color-accent-primary: #8e44ad;
  --color-accent-secondary: #9b59b6;

  --color-glow: #7d3c98;

  --color-status-success: #2ecc71;
  --color-status-warning: #f1c40f;
  --color-status-error: #e74c3c;
  --color-status-info: #3498db;

  --color-method-get: #2ecc71;
  --color-method-post: #3498db;
  --color-method-put: #f1c40f;
  --color-method-delete: #e74c3c;
  --color-method-patch: #9b59b6;
  --color-method-system: #8e44ad;
  --color-method-default: #9b59b6;

  --color-status-code-success: #2ecc71;
  --color-status-code-error: #e74c3c;
  --color-status-code-default: #8e44ad;

  --color-connection-connected: #8e44ad;
  --color-connection-disconnected: #9b59b6;
  --color-connection-error: #af7ac5;
  --color-connection-default: #af7ac5;

  --color-tab-rest: var(--color-accent-primary);
  --color-tab-accent: color-mix(
    in srgb,
    var(--color-accent-primary) 75%,
    #ffffff 25%
  );
  --color-tab-debug: color-mix(
    in srgb,
    var(--color-accent-primary) 50%,
    #ffffff 50%
  );
  --color-tab-preprocessing: color-mix(
    in srgb,
    var(--color-accent-primary) 25%,
    #ffffff 75%
  );

  --color-tab-rest-rgb: 142, 68, 173;
  --color-tab-accent-rgb: 171, 115, 194;
  --color-tab-debug-rgb: 199, 163, 214;
  --color-tab-preprocessing-rgb: 227, 209, 234;

  --color-harmony-1: #5b2c6f;
  --color-harmony-2: #f39c12;
  --color-harmony-3: #6c3483;
  --color-harmony-4: #1abc9c;

  --color-accent-hover: var(--color-harmony-4);
  --color-accent-active: var(--color-tab-rest);
  --color-accent-border: var(--color-harmony-3);
  --color-accent-muted: var(--color-harmony-2);
  --color-accent-glow: var(--color-tab-rest);
  --color-accent-secondary-glow: var(--color-tab-accent);

  --color-bg-primary: #0c0a12;
  --color-bg-secondary: #121222;
  --color-bg-tertiary: #1a1a32;
  --color-bg-elevated: #121222;

  --color-divider: #282848;

  --color-fg-primary: #eeeeff;
  --color-fg-secondary: #c6c6e6;
  --color-fg-muted: #9696c6;
  --color-fg-inverse: #000000;

  --color-event: #9b59b6;
  --color-event-secondary: #af7ac5;
  --color-room: #1abc9c;
  --color-loading: var(--color-tab-rest);
  --color-loading-secondary: var(--color-tab-accent);

}
