:root[data-theme='nioh'] {
  --color-accent-primary: #e74c3c;
  --color-accent-secondary: #c0392b;

  --color-glow: #b03a2e;

  --color-status-success: #27ae60;
  --color-status-warning: #f1c40f;
  --color-status-error: #e74c3c;
  --color-status-info: #3498db;

  --color-method-get: #27ae60;
  --color-method-post: #2980b9;
  --color-method-put: #f1c40f;
  --color-method-delete: #e74c3c;
  --color-method-patch: #8e44ad;
  --color-method-system: #d35400;
  --color-method-default: #7f8c8d;

  --color-status-code-success: #27ae60;
  --color-status-code-error: #e74c3c;
  --color-status-code-default: #d35400;

  --color-connection-connected: #e74c3c;
  --color-connection-disconnected: #e67e22;
  --color-connection-error: #ef6c57;
  --color-connection-default: #f1c40f;

  --color-tab-rest: var(--color-accent-primary);
  --color-tab-accent: color-mix(
    in srgb,
    var(--color-accent-primary) 75%,
    #ffffff 25%
  );
  --color-tab-debug: color-mix(
    in srgb,
    var(--color-accent-primary) 50%,
    #ffffff 50%
  );
  --color-tab-preprocessing: color-mix(
    in srgb,
    var(--color-accent-primary) 25%,
    #ffffff 75%
  );

  --color-tab-rest-rgb: 231, 76, 60;
  --color-tab-accent-rgb: 237, 121, 109;
  --color-tab-debug-rgb: 243, 166, 158;
  --color-tab-preprocessing-rgb: 248, 210, 206;

  --color-harmony-1: #f1c40f;
  --color-harmony-2: #2c3e50;
  --color-harmony-3: #c0392b;
  --color-harmony-4: #ecf0f1;

  --color-accent-hover: var(--color-harmony-2);
  --color-accent-active: var(--color-tab-rest);
  --color-accent-border: var(--color-harmony-3);
  --color-accent-muted: var(--color-harmony-4);
  --color-accent-glow: var(--color-tab-rest);
  --color-accent-secondary-glow: var(--color-tab-accent);

  --color-bg-primary: #121212;
  --color-bg-secondary: #1c1c1c;
  --color-bg-tertiary: #262626;
  --color-bg-elevated: #1c1c1c;

  --color-divider: #3b3b3b;

  --color-fg-primary: #fbfbfb;
  --color-fg-secondary: #d6d6d6;
  --color-fg-muted: #a6a6a6;
  --color-fg-inverse: #000000;

  --color-event: #f1c40f;
  --color-event-secondary: #f4d03f;
  --color-room: #2980b9;
  --color-loading: var(--color-tab-rest);
  --color-loading-secondary: var(--color-tab-accent);

}
