# Base
PORT=3000
ADDRESS=0.0.0.0
NODE_ENV=local
PRINT_CONFIG=true
ENABLE_SWAGGER=true
BODY_LIMIT=104857600
LOG_LEVEL=log,warn,error # comma separated 'warn' | 'error' | 'debug' | 'log' | 'verbose' | 'fatal'

# Health
HEALTH_MEMORY_HEAP=256MB
HEALTH_MEMORY_RSS=256MB
HEALTH_DISK_PATH=/
HEALTH_DISK_THRESHOLD=0.8

# Cors
CORS_ORIGIN=*
CORS_METHODS=GET,HEAD,OPTIONS,PUT,PATCH,POST,DELETE
CORS_PREFLIGHT_CONTINUE=false
CORS_OPTIONS_SUCCESS_STATUS=204
CORS_CREDENTIALS=true
CORS_ALLOWED_HEADERS=Content-Type,Accept,X-Visions-llm

# Socket.IO
SOCKET_IO_EVENT=vision
SOCKET_IO_CONNECT_TIMEOUT=45000
SOCKET_IO_MAX_HTTP_BUFFER_SIZE=262144
SOCKET_IO_CLEANUP_EMPTY_CHILD_NAMESPACES=false
SOCKET_IO_TRANSPORTS=websocket,polling,webtransport
SOCKET_IO_CORS_ORIGIN=*
SOCKET_IO_CORS_CREDENTIALS=true
SOCKET_IO_CORS_METHODS=GET,POST
SOCKET_IO_PING_INTERVAL=25000
SOCKET_IO_PING_TIMEOUT=5000
SOCKET_IO_ALLOW_EIO3=false

# BullMQ Connection
BULLMQ_HOST=keydb
BULLMQ_PORT=6379
BULLMQ_USER=default
BULLMQ_PASS=redis
BULLMQ_CONNECT_TIMEOUT=30000
BULLMQ_COMMAND_TIMEOUT=30000

# BullMQ TLS (Optional)
BULLMQ_USE_TLS=false
BULLMQ_TLS_REJECT_UNAUTHORIZED=true
BULLMQ_PASSPHRASE=test
BULLMQ_TLS_CA=
BULLMQ_TLS_CERT=
BULLMQ_TLS_KEY=

# BullMQ Job Options
BULLMQ_JOB_DELAY=0
BULLMQ_JOB_LIFO=false
BULLMQ_JOB_PRIORITY=0
BULLMQ_JOB_ATTEMPTS=3
BULLMQ_JOB_STACK_TRACE_LIMIT=10
BULLMQ_WORKER_CONCURRENCY=3

# BullMQ Backoff
BULLMQ_BACKOFF_TYPE=exponential
BULLMQ_BACKOFF_DELAY=10000

# BullMQ Logger
BULLMQ_LOG_LEVEL=info
BULLMQ_LOG_BASE=
BULLMQ_LOG_TIMESTAMP_ENABLED=true
BULLMQ_LOG_TRANSPORT_TARGET=pino-pretty
BULLMQ_LOG_TRANSPORT_TRANSLATE_TIME=yyyy-mm-dd HH:MM:ss.l
BULLMQ_LOG_TRANSPORT_COLORIZE=true
BULLMQ_LOG_TRANSPORT_IGNORE=pid,hostname

# Ollama
OLLAMA_HOST=https://ollama.com # http://ollama:11434
# OLLAMA_KEEP_ALIVE=5m
OLLAMA_API_KEY=334e83cf084049b39129032729348177.GGx1DRsTFl7agZL2Iqri5s9q

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=failed-jobs

# Postgres
# POSTGRES_USER=visions
# POSTGRES_PASSWORD=visions
# POSTGRES_DB=visions
POSTGRES_URL=postgres://visions:visions@localhost:5432/visions?sslmode=disable

# Failed job lifecycle
FAILED_JOB_RETRY_DELAY_MS=300000
FAILED_JOB_REINSTATE_BATCH_SIZE=10
FAILED_JOB_RETAIN_AMOUNT=100
FAILED_JOB_GARBAGE_COLLECT_MS=3600000
